


@media only screen and (max-width: 900px) {
    .wrapper{
        width: 100%;
        background: rgba(44, 62, 80, 0.5);
    }
    .header{
        width: 100%;
    }
    .header h1{
        
        font-size: 35px;
    }
    .navbar{
        width: 100%;
    }
    .navbar ul li a{
        width: 20%;
        padding: 10px 0px;
        text-align: center;
    }
    .banner{
        width: 100%;
    }
    .banner h2{
        font-size: 30px;
    }
    .cardGroup{
        padding-left: 4%;
        padding-right: 4%;
    }
    .card{
        width: 38%
    }
}

@media only screen and (max-width: 640px) {
    .navbar ul li a{
        float: none;
        display: block;
        width: 100%;
    }
    .banner h2{
        padding-top: 30px;
    }
    .banner p{
        width: 85%;
        
    }
    .cardGroup{
        padding: 0;
    }
    .card {
        width: 100%;
        margin: 20px 0px;
        float: none;
    }
    .card p{
        width: 80%;
    }
}