
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("../image/bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    background: rgba(44, 62, 80, 0.9);
    /* background: #2c3e50; */
    /* opacity: .95;
    filter: alpha(opacity=95) */
}
.header{
    width: 1000px;
    height: 120px;
    background: rgba(52, 73, 94, .8);
}
.header h1{
    padding-top: 37px;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.header h1::after, .header h1::before{
    content: " - ";
}
.navbar{
    width: 1000px;
    background: #16a085;
    overflow: hidden;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    background: #16a085;
    color: #ecf0f1;
    font-size: 18px;
    padding: 10px 20px;
    float: left;
}
.navbar ul li a:hover{
    background: #e74c3c;
}

#active{
    background: #c0392b;
}
.banner{
    width: 1000px;
    height: 250px;
    background-image: url("../image/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h2{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 0px 0px 15px black;
    color: #f1c40f;
}
.banner p{
    width: 600px;
    margin: 25px auto;
    text-align: center;
    line-height: 25px;
    text-shadow: 0px 0px 10px black;
}
.cardGroup {
    padding: 10px 35px;
    overflow: hidden;
}
.card{
    background-color: #2980b9;
    width: 240px;
    margin: 20px 15px;
    float: left;
    padding: 20px;
    text-align: center;
}
.card:hover{
    background-color: #3498db;
    color: #333333;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
.card p{
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 20px;
}
.card div{
    padding-top: 20px;
    height: 36px;
    width: 200px;
    margin: 0 auto;
}
.card a{
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    background: #c0392b;
    color: #ecf0f1;
    border-radius: 30px;
    margin-bottom: 20px;
}
.card a:hover{
    background-color: #e74c3c;
}
.footer{
    background-color: #ecf0f1;
    color: #2c3e50;
    clear: both;
}
.footer p{
    text-align: center;
    padding: 10px;
}